<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>pet.jen.voilot.tailscale</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/tailscaled</string>
		<string>--statedir=/var/lib/tailscale</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>StandardOutPath</key>
	<string>__REPO_DIR__/tmp/tailscale.log</string>

	<key>StandardErrorPath</key>
	<string>__REPO_DIR__/tmp/tailscale.log</string>

	<key>ThrottleInterval</key>
	<integer>5</integer>
</dict>
</plist>
